
.fondo{
        background-color: #691B1B;
}

.encabezado{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:100px;
    background-color: #691B1B;
    padding-bottom: 100px;
}

.titulo{
    color:white;
    font-size: 60px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif    
}

.logo{
    height: 100px;
}

.logo:hover {
    animation: vibrar 0.3s linear infinite;
}

@keyframes vibrar {
    0% { transform: translate(0); }
    20% { transform: translate(-2px, 2px); }
    40% { transform: translate(-2px, -2px); }
    60% { transform: translate(2px, 2px); }
    80% { transform: translate(2px, -2px); }
    100% { transform: translate(0); }
}

.tabla_datos{
    margin: auto;
    text-align: center;
    
}

.tabla_datos th{
    color:white;
    padding: 10px;
    border: 3px double green;
    border-radius: 5px;    
}

.tabla_datos td{
    color:white;
    padding: 10px;
    border: 3px double pink;
    border-radius: 5px;
}

.imagen_rostro{
    height: 100px;
}

.imagen_rostro:hover{
    filter: grayscale(100%);
}