

.encabezado{

    display:flex;
    justify-content: space-between;
    align-items: center;
    height:100px;
    background-color: #691B1B;


}
.titulo{
    color:white;
    font-size: 60px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
    
}
.logo{
    height: 100px;
}

.tabla_datos{
    margin: auto;
    text-align: center;

}

.tabla_datos th{
    padding: 10px;
    border: 3px double green;
    border-radius: 5px;
}

.tabla_datos td{
    padding: 10px;
    border: 3px double pink;
    border-radius: 5px;
}