.fondo{
        background-color: whitesmoke;
}

.encabezado{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    background-color: #691B1B;
    
}

.titulo{
    color:white;
    font-size: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin: auto;
    padding-left: 100px;    
}

.logo{
    height: 120px;
}

.logo:hover {
    animation: vibrar 0.3s linear infinite;
}

@keyframes vibrar {
    0% { transform: translate(0); }
    20% { transform: translate(-2px, 2px); }
    40% { transform: translate(-2px, -2px); }
    60% { transform: translate(2px, 2px); }
    80% { transform: translate(2px, -2px); }
    100% { transform: translate(0); }
}

.tabla_datos{
    margin: auto;
    margin-top: 10px;
    text-align: center;
    
}

.tabla_datos th{
    background-color: #691B1B;
    color:white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    padding: 10px;
    border: 3px double black;
    border-radius: 5px;    
}

.tabla_datos td{
    background-color: indianred;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 17px;
    padding: 10px;
    border: 3px double black;
    border-radius: 5px;
}

.imagen_rostro{
    height: 100px;
}

.imagen_rostro:hover{
    filter: grayscale(100%);
}
